# Data Handling
requests
pymongo
dnspython
python-dotenv

# ML models
scikit-learn
scipy

# Boosting models
xgboost
lightgbm

# Time series models
statsmodels

# Utilities
joblib

# Visualization
matplotlib
seaborn

#streamlit App
streamlit
plotly
shap
streamlit-autorefresh